.app-header {
  background-color: rgb(58, 58, 58);
  padding: 8px 10px;
  color: white;
  height:73px;
}

header nav *{
  font-size: 1.4rem;
  margin-inline: 10px;
  cursor: pointer;
}
header nav a:hover{
  color: #ddd;
}


header nav a{
  margin-top: 1rem;
}

.app-header h1{
  margin:0;
}

ul.dropdown-app-menu{
  background-color: rgb(58, 58, 58);
  top: 51px;
  right: -13px;
  height: 0;
  transition: height 150ms;
  z-index: -10;
}

ul.dropdown-app-menu.shown{
  height: auto;
  padding-block:5px;
  z-index: 10;
}

ul.dropdown-app-menu li,
ul.dropdown-app-menu a{
  margin:0;
}

ul.dropdown-app-menu li{
  margin-bottom: 10px;
}

ul.dropdown-app-menu a{
  padding:10px;
}

@media (max-width:340px) {
  .app-about{
    display: none;;
  }
}

@media(max-width: 720px) {
}
