.home-page {
    background-image: url(../../img/home-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
    width: 100vw;
}

.home-page-brand{
    top:50%;
    transform: translateY(-50%);
    left:10%;
    font-size: 30px;
    color: white;
}

.appsus{
    font-family: 'Marck Script', cursive;
    font-size: 70px;
}

.home-page .apps-logos{
    font-size: 7.5vw;
    color: white;
    right: 25%;
    top: 140px;
    cursor: pointer;
}

.home-page .apps-logos h1:hover{
    color: #eee;
}

.home-page .apps-logos .gmail{
    left: -145%
}
.home-page .apps-logos .books{
    left: 145%
}

@media (min-width:570px) {
    .home-page .apps-logos{
        font-size: 50px;
        right: 27.5%;
    }
}