.note-title-input{
    min-width: calc(100% - 146px);
}

.note-title-input,
.note-text-body-input{
    border:none;
    outline: none;
    background-color: transparent;
    font-family: open-sans;
    font-size: 1rem;
}

.note-text-body-input{
    min-width: calc(100% - 20px);
    resize: none;
    margin:10px;
    height:max-content;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.note-color-palette > .btn{
    width: 28px;
    height: 28px;
    margin:6px;
}

.note-color-palette > .btn:hover .color-title{
    display: block !important;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 8px;;
    padding: 3px 10px;
    color: white;
    top: 34px;
    width: fit-content;
    position: absolute;
}

.note-color-palette .btn:hover{
    border: 1px solid black;
}

.btns-note-compose .btn-color:hover .note-color-palette{
    display: block !important;
    background-color: #fff;
}

.note-color-palette{
    position: absolute !important;
    width: max-content;
    top: 100%;
    z-index: 10;
}