.note-nav .nav-item{
    cursor: pointer;
}

.note-nav li:hover{
    background-color: #ddd;
}

nav.note-nav{
    flex-grow: 5;
    max-width: 80px;
    transition: max-width 250ms;
}

nav.note-nav.shown{
    max-width: 240px;
    width: 100%;
}

span.btn-nav{
    font-size: 1.5rem;
    padding:7.75px 12px;
    cursor: pointer;
}

.nav-item{
    overflow-x: hidden;
    max-width: 0;
    transition: max-width 250ms;
}

.shown .nav-item{
    max-width: 100%;
    width:100px;
}

@media (max-width:360px) {
    nav.note-nav{
        left: -100%;
        transition: transform 250ms;
    }
    nav.note-nav.shown{
        transform: translateX(200%);
    }
    
}

@media (max-width:600px) {
    nav.note-nav{
        position: absolute;
        background-color: white;
        z-index: 30;
        top:-20px;
        height: 100%;
        box-shadow: 1px 3px 3px .3px rgb(86, 86, 86);
    }

    nav.note-nav.shown{
        max-width:175px;
    }

}