.mail-app {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.0)), url(../../../img/background.jpg);
    /* background-image: url('/assets/img/background.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

}

@media (max-width:750px) {
    .mail-app {
        background-size: 750px;
        background-position: top;
    }
}

.mail-app * {
    font-size: 0.875rem;
}


.mail-app .principal-container {
    gap: 10px;

}

.mail-container {
    width: 75%;
    flex-grow: 1;
    margin-inline-end: 3vw;
    border-radius: 16px;
    height: 78vh;

}

.star {
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    bottom: 12px;
    right: 4px;
    font-size: 24px;


}

.star:before {
    content: "\2606";
    position: absolute;
    visibility: visible;
    color: gray;
}

.star:checked:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.importance-label {
    height: 22px;
    position: relative;
    left: 1.5px;
}

.label-important {
    filter: invert(87%) sepia(38%) saturate(4568%) hue-rotate(0deg) brightness(107%) contrast(109%);
}