.mail-details {
    border-radius: 16px;
    padding-bottom: 16px;
    height: 100%;
}

.mail-details header {
    background-color: rgba(255, 255, 255, 0.8);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%), 0 3px 2px -2px rgb(0 0 0 / 10%);
    height: 10vh;
}

.mail-details header p {
    font-size: 12px;

}

.mail-details main {
    background-color: white;
    height: 68vh;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 20px 40px;

}


.mail-details main.empty {
    background-color: rgba(255, 255, 255, 0.7);
}

.mail-details h1 {
    font-size: 22px;
}

.mail-info>* {
    gap: 10px;
    align-items:center;
}

.mail-info :not(h2) {
    font-size: 12px;
}


.mail-details main button {
    background-color: transparent;
    border: solid 1px var(--clr3);
    padding: 8px 20px;
    margin-inline-end: 10px;
    min-height: 10px;
}