.mail-nav button {
    margin-inline-start: 8px;
    border-radius: 16px;
    margin: 8px 8px 16px;
    padding: 20px 29px 20px 21px;
    gap: 20px;
}

.mail-menu li {
    padding-inline-end: 10px;
}
.mail-menu article {
    padding-inline-start: 26px;
    padding-top: 7px;
    padding-inline-end: 16px;
    height: 32px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 65%);
    color: var(--clr1);
    cursor: pointer;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
}

.mail-menu article.selected{
font-weight: bold;
}

.mail-menu .folder-icon {
    height: 30px;
    width: 30px;
    text-align: center;
}

.mail-menu .folder-icon:hover,
.nav-width .mail-menu article:hover {
    background-color: rgba(255, 255, 255, 0.262);

}

.mail-nav:not(.nav-width) .mail-menu .selected .folder-icon,
.nav-width .mail-menu article.selected {
    background-color: rgba(255, 255, 255, 0.362); 

}

.nav-width .mail-menu .folder-icon:hover,
.mail-menu .selected .folder-icon {
    background-color: transparent;
}
