.mail-nav button {
    margin-inline-start: 8px;
    border-radius: 16px;
    margin: 8px 8px 16px;
    padding:20px 29px 20px 21px;
    gap:20px;
}


.mail-menu article {
    padding-inline-start: 26px;
    height: 32px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 65%);
    color: var(--clr1);
    cursor: pointer;
}

.mail-menu article:hover {
    background-color: rgba(255, 255, 255, 0.362);


}