.mail-list {
    border-radius: 16px;
    padding-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
}

.mail-list header {
    background-color: rgba(255, 255, 255, 0.4);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    height: 10vh;
}

.mail-list ul {
    height: 62vh;
    overflow: auto;
}

.mail-sort {
    cursor: default !important;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%), 0 3px 2px -2px rgb(0 0 0 / 20%) !important;

}

.sort-title {
    font-weight: bold;
}

.sort-title span {
    cursor: pointer;
}

.sort-title span:hover {
    text-decoration: underline;
}

.mail-sort.descending .sort-title span.sorting::after {
    content: ' 🡫';

}

.mail-sort:not(.descending) .sort-title span.sorting::after {
    content: ' 🡩';

}

.mail-preview {
    padding: 7px 16px;
    cursor: pointer;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    display: grid;
    grid-template-columns: 25px 25px 25px 1fr 3fr 20px 1fr;
    gap: 5px;
}

.mail-preview .capitalized {
    padding-inline-start: 10px;
}

.mail-preview:hover {
    box-shadow: inset 0.4px 0 0 #dadce0, inset -0.4px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.mail-preview.unread {
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 900;
}

.mail-preview.checked {
    background-color: var(--secondary-clr3);
}

.mail-preview div {
    display: flex;
    align-items: center;
}

.mail-preview .red {
    color: #dd4b39;
}

.mail-preview .checkbox {
    cursor: pointer;
}

.mail-preview .btn {
    width: 30px;
    height: 30px;
}

.no-mails {
    text-align: center;
    padding-top: 30px;
}