.mail-header {
    padding: 10px;
    height: 11vh;
    color: var(--clr1);
}

.mail-header .btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.mail-logo {
    height: 24px;
    gap: 10px;
    cursor: pointer;
}

.mail-logo img {
    height: 100%;
}

.mail-logo span {
    font-size: 24px;
}

.mail-filter {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    flex-grow: 1;
    height:100%;
}

.mail-filter input {
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
}