/* layout helpers */

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.full {
    width: 100vw;
}

.main-layout:not(.full){
    margin-inline:10px;
}

.columns {
    column-count: auto;
    column-width: 203px;
}

.nav-width {
    width: var(--nav-width);
}

.hidden{
    display: none;
}

.general-border{
    border-radius: 10px;
    box-shadow: 0 0 3px .5px var(--clr3);
    border: .5px solid var(--clr2);
}


/* flex helpers */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.grow{
    flex-grow: 1;
}

/* position helpers */
.fixed {
    position: fixed;
}

.absolute {
    position: absolute !important;
}

.relative{
    position: relative !important;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* grid helpers */
.grid {
    display: grid;
}


/* text helpers */

.colored-text {
    color: solid var(--clr5);
}

.capitalized {
    text-transform: capitalize;
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* border-radius helpers */
.pill {
    border-radius: 9999px;
}

.pill-right{
    
    border-start-end-radius: 9999px;
    border-end-end-radius: 9999px;

}
/* disabled */

.disabled{
    color:var(--clr3);
    pointer-events: none;
}

/* font awsome */

.fa {
    font-family: fa;
}

.fa.fa-facebook::before {
    content: "\f39e";
}

.fa.fa-twitter::before {
    content: "\f099";
}

.fa.fa-dribbble::before {
    content: "\f17d";
}

.fa.fa-behance::before {
    content: "\f1b4";
}